/* ticker -> slider -> entry -> element */
.stock_ticker{
	position:relative;
	overflow:hidden;
	border-radius:4px;
	white-space: nowrap;
    line-height: normal;
}

.stock_ticker_slider{
	position:absolute;
	background-color: transparent;
}

.stock_ticker_entry{
        position: absolute;
}

.stock_ticker_element{
	display: inline-block;
	text-align: center;
}

 .stock_ticker_triangle{
	margin:0px;
	width: 0px;
	height: 0px;
	display: inline-block;
 }

 .stock_ticker_vertical_line{
	position: relative;	
 	background-color:#D7D7D7;
 	opacity:0.3;
 	width:2px;
	display: inline-block;
	left: 5px;
 }

.stock_ticker_triangle.st_gray {
    display: none;
}

.stock_ticker .st_red {
color: red;
}
.stock_ticker .st_green {
color: green;
}
.stock_ticker .st_gray {
color: gray;
}

/* keyframes are defined here because firefox has a bug wherein keyframes don't work in scoped CSS & wanted to keep them together */
@-webkit-keyframes marquee {
    0%   { transform: translateX(0px); }    /*Start the animation at the left */
    100% { transform: translateX(-100%); }  /*Loop the ticker once it has scrolled 100% of its entire width */
}
@-moz-keyframes marquee {
    0%   { transform: translateX(0px); }
    100% { transform: translateX(-100%); }
}
@keyframes marquee {
    0%   { transform: translateX(0px); }
    100% { transform: translateX(-100%); }
}

.ticker-wrapper:hover .css3-ticker-scroll{  /* later, we can add a separate class for this that will be added when pause is on */
	-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
	animation-play-state: paused;
}
